@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

animate-spin {
  animation: spin 1s linear infinite;
}

@media (min-width: 1024px) {
  .hover-trigger .hover-target {
    display: none;
  }

  .hover-trigger:hover .hover-target {
    display: block;
  }
}

/* icons */

.check {
  /* Rectangle 13 */

  position: absolute;
  width: 23px;
  height: 23px;
  left: 101px;
  top: 1649px;

  border: 2px solid #000000;
  box-sizing: border-box;

  /* Vector 15 */

  position: absolute;
  width: 13px;
  height: 9px;
  left: 106px;
  top: 1657px;

  border: 4px solid #000000;
}

.uncheck {
  /* Rectangle 21 */

  position: absolute;
  width: 23px;
  height: 23px;
  left: 97px;
  top: 2265px;

  border: 2px solid #000000;
  box-sizing: border-box;
}
